<!--<p id="notice"><%#= notice %></p>-->

<p class="notice"></p>
<p class="alert"></p>

<div id="main">
  <%= image_tag('main-img.jpg') %>
</div>

<%= csrf_meta_tags %>

<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div id="article_wrap">
  <div id="article_list">
    <% @articles.each do |article| %>
      <div>
        <h2><%= link_to article.title, article %></h2>
        <p><%= article.created_at %></p>
        <p><%= link_to 'Show', article %></p>
        <p><%= link_to 'Edit', edit_article_path(article) %></p>
        <p><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </div>
</div>

<div id="article_wrap">

  <div id="sidebar">
    <h2>★PV数ランキング</h2>
    <ul>
      <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
      <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
      <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
    </ul>
  </div>

  <div class="clear"></div>
</div>

<%#= link_to 'New Article', new_article_path %>
